<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Playlist</title>
</head>
<body>
    <!-- Top Navigation Bar -->
    <header>
        <div class="topbar">
            <ul class="topbar_navigation">
                <li>
                    <a href="">
                        <span>Hello Listener User!</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Recommendations</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Listen History</span>
                    </a>
                </li>
            </ul>
            <div class="search">
                <form>
                    <input type="text" class="search_bar" placeholder="Search Music...">
                    <button type="submit" class="search_btn">Search</button>
                </form>
            </div>
            <ul class="topbar_navigation">
                <li>
                    <a href="/logout">
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
    </header>

    <!-- Main Container To Display The Album Details and Songs-->
    <div class="main_container">

        <section class="form_style">
            <div class="container">
                <header>
                    <h1>Create New Playlist</h1>
                </header>
                
                <form method='POST' action="" class="form">
                    <div class="input_box">
                        <label for="username">Playlist Name</label>
                        <input type="text" name="username" id="username" placeholder="Enter a name for the playlist" required>
                    </div>
                    
                    <button type="submit" class="submit_btn">Create</button>
                </form></br>
            </div>
        </section>

    </div>
            
    
    <!-- Left Side Bar -->
    <div class="left_sidebar">
        <div class="logo">
            <a href="">
                <img src="{{url_for('static', filename='logo.png')}}" alt="Logo">
            </a>
        </div>
        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Search</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>My Playlists</span>
                    </a>
                    <a href="" class="add_playlist">+</a>
                    <ul class="list_container">
                        <li>
                            <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                            <span>A Playlist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                            <span>Another Playlist</span>
                        </li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Create Playlist</span>
                    </a>
                </li> -->
            </ul>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Followed Artists</span>
                    </a>
                    <ul class="list_container">
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>An Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>Another Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>An Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>Another Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>An Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>Another Artist</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- Right Sidebar -->
    <div class="right_sidebar">
        <h1>Top Hits</h1>
        <div class="navigation">
            <ul>
                <li>
                    <p>
                        <span class="link_icon"></span>
                        <span>Weekly:</span>
                        <ul class="list_container">
                            <li>
                                <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                                <span>A Song</span>
                            </li>
                            <li>
                                <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                                <span>Another Song</span>
                            </li>
                    </p>
                </li>
            </ul>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <p>
                        <span class="link_icon"></span>
                        <span>Daily:</span>
                        <ul class="list_container">
                            <li>
                                <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                                <span>A song</span>
                            </li>
                            <li>
                                <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                                <span>Another Song</span>
                            </li>
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <!-- Music Player -->
    <div class="song_player">
        <!-- Replace image, song name, artist name with actual database information -->
        <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="song name">
        <h5>Song Name</br>
            <div class="artist_name">Artist Name</div>
        </h5>
        <audio controls>
            <!-- Provide the actual source path for the song -->
            <source src="" type="">
        </audio>
        </div>
    </div>
</body>
</html>