{% extends 'base.html' %}
{% block title %}Create album{% endblock %}
{% block body %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    .song-inputs {
        margin-bottom: 10px;
    }
</style>

<h1>Create an Album</h1>

<form action="/album/create" method="post" enctype="multipart/form-data" class='form' onsubmit="return validateReleaseDate();">
    <label for="name">Album Name:</label>
    <input type="text" id="album-name" name="albumName" required><br><br>

    <label for="album-cover">Album Cover:</label>
    <input type="file" id="album-cover" name="albumCover" accept="image/*" required><br><br>

    <label for="release-date">Release Date:</label>
    <input type="date" id="release-date" name="releaseDate" required><br><br>

    <div id="songs-container">
        <div class="song-inputs">
            <label for="song1">Song:</label>
            <input type="file" id="song1" name="songs[]" accept="audio/*" required>
            
            <label for="genre1">Genre:</label>
            <input type="text" id="genre1" name="songGenres[]" required><br><br>
            
            <button type="button" onclick="removeSongInput(this)">Remove</button><br><br>
        </div>
    </div>

    <button type="button" onclick="addSongInput()">Add another song</button><br><br>
    <input type="submit" value="Create Album">
</form>

<script>
    let songCounter = 1;

    function addSongInput() {
        songCounter++;
        const songContainer = document.getElementById('songs-container');
        const newSongInput = document.createElement('div');
        newSongInput.className = 'song-inputs';
        newSongInput.innerHTML = `
            <label for="song${songCounter}">Song:</label>
            <input type="file" id="song${songCounter}" name="songs[]" accept="audio/*" required>
            
            <label for="genre${songCounter}">Genre:</label>
            <input type="text" id="genre${songCounter}" name="songGenres[]" required><br><br>
            
            <button type="button" onclick="removeSongInput(this)">Remove</button><br><br>
        `;
        songContainer.appendChild(newSongInput);
    }

    function removeSongInput(button) {
        const songContainer = document.getElementById('songs-container');
        if (songContainer.childElementCount > 1) {
            songContainer.removeChild(button.parentElement);
        }
    }
    function validateReleaseDate() {
        const releaseDateInput = document.getElementById('release-date');
        const releaseDate = new Date(releaseDateInput.value);
        const currentDate = new Date();
        
        // Set the hours, minutes, seconds, and milliseconds to zero for a fair date comparison
        currentDate.setHours(0, 0, 0, 0);

        if (releaseDate <= currentDate) {
            alert('Release date cannot be in the PAST!');
            return false;
        }
        return true;
    }
</script>
{% endblock %}