{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block body %}
<nav class="navbar">
    <div class="navbar_container">
        <a href="/" class="navbar_logo"><img src="{{url_for('static', filename='logo.png')}}" height="75px"></a>
        <div class="navbar_toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
            <li class="navbar_item">
                <a href="/" class="navbar_links">
                    About
                </a>
            </li>
            <li class="navbar_item">
                <a href="/" class="navbar_links">
                    Contact
                </a>
            </li>
            <li class="navbar_item">
                <a href="/" class="navbar_links">
                    Help
                </a>
            </li>
            <li class="navbar_btn">
                <a href='/getstarted' class="button">
                    Login
                </a>
            </li>
        </ul>
        </div>
    </div>
</nav>

<div class="homepage">
    <div class="homepage_container">
        <div class="main_img_container">
            <img src="{{url_for('static', filename='homepage.svg')}}" alt="song name" class="main_img">
        </div>
        <div class="main_content">
            <h1>COOG MUSIC</h1>
            <h2>MUSIC BY UH STUDENTS</h2>
            <p>Discover new songs today.</p>
            <a href='/getstarted'><button class="main_btn">Get Started</button></a>
        </div>
    </div>
</div> 

<footer>
    <div class="footer_container">
        <div class="footer_links">
            <div class="footer_link_wrapper">
                <div class="footer_link_items">
                    <h2>About</h2>
                    <a href="/contact">Contact</a>
                </div>
            </div>
        </div>
        <div class="footer_link_wrapper">
            <div class="footer_link_items">
                <h2>Location</h2>
                <p>University of Houston</p>
                <p>4800 Calhoun Road</p>
                <p>Houston, TX</p>
            </div>
        </div>
        <div class="footer_link_wrapper">
            <div class="footer_link_items">
                <h2>Team Members</h2>
                <p>Gonzalez, Angel E</p>
                <p>Matthews, Joshua T</p>
                <p>Nguyen, Jacqueline</p>
                <p>Oblock, Charlie J</p>
                <p>Zistler, Tyler J</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}