<!DOCTYPE html>
<html>
<head>
    <title>Coog Music</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
    {% if role %}
    <h2>Role: {{ role }}</h2>
    <h2>ID: {{ id_ }}</h2>
    <a href='/logout'>Logout</a>
    {% else %}
    <a href='/login?role=listener'>Login as Listener</a>
    <a href='/register?role=listener'>Register as Listener</a>
    <a href='/login?role=artist'>Login as Artist</a>
    <a href='/register?role=artist'>Register as Artist</a>
    {% endif %}
</body>
</html>
