{% extends 'base_listener.html' %}
{% block page %}
<!-- Main Container To Display Profile -->
<div class="main_container">
    <div class="edit_profile">
        <img src="/listener/pic" alt="profile picture">
        <h1>{{ data.user[1] }} {{ data.user[2] }}</h1>
    </div>
    <section class="edit_profile_form">
        <div>
            <header>
                <h1>Edit Profile</h1>
            </header>
            <!-- May need to query database to retrieve the current username and email for the user -->
            <form action="/listener/edit" method='POST' class="form">
                <div class="input_box">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="edit_box" value='{{ data.username }}' placeholder="Enter your new username">
                </div>

                <div class="input_box">
                    <label for="email">Email</label>
                    <input type="text" value='{{ data.email }}' name="email" id="email" class="edit_box" placeholder="Enter your new email">
                </div>
    
                <div class="input_box">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="edit_box" placeholder="Enter your password">
                </div>

                <div class="input_box">
                    <label for="newpassword">New Password</label>
                    <input type="password" name="newpassword" id="newpassword" class="edit_box" placeholder="Enter your new password">
                </div>

                <div class="input_box">
                    <label for="confirmpassword">Confirm New Password</label>
                    <input type="password" name="confirmpassword" id="confirmpassword"  class="edit_box" placeholder="Re-enter your new password">
                </div>
                
                <button type="submit" class="save_btn">Save Profile</button>
            </form>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}