<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Coog Music Home</title>
</head>
<body>
    <!-- Top Navigation Bar -->
    <header>
        <div class="topbar">
            <ul class="topbar_navigation">
                <li>
                    <a href="{{url_for('static', filename='placeholder.png')}}">
                        <span>Hello Listener User!</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('profile_listener')}}">
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Recommendations</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Listen History</span>
                    </a>
                </li>
            </ul>
            <div class="search">
                <form>
                    <input type="text" class="search_bar" placeholder="Search Music...">
                    <button type="submit" class="search_btn">Search</button>
                </form>
            </div>
    </header>

    <!-- Main Container To Display The Songs -->
    <div class="main_container">
        <div class="song_list">
            <h2>New Releases</h2>
            <!-- Container to hold the song image, name, and artist name. Replace direct paths with actual database information. 
                Need to make a loop to create for however many we want to display. Instead of making each ourselves.-->
            <div class="list">
                <div class="item">
                    <a><img src="{{url_for('static', filename='placeholder.png')}}" alt="song name"></a>
                    <h4>Song Name</h4>
                    <p>Arist Name</p>
                </div>
                
                <div class="item">
                    <a><img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="song name"></a>
                    <h4>Song Name</h4>
                    <p>Arist Name</p>
                </div>
            </div>
            <hr>
        </div>

        <div class="song_list">
            <h2>Songs For You</h2>
            <div class="list">
                <div class="item">
                    <a><img src="{{url_for('static', filename='placeholder.png')}}" alt="song name"></a>
                    <h4>Song Name</h4>
                    <p>Arist Name</p>
                </div>
                
                <div class="item">
                    <a><img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="song name"></a>
                    <h4>Song Name</h4>
                    <p>Arist Name</p>
                </div>
                <div class="item">
                    <a><img src="{{url_for('static', filename='placeholder.png')}}" alt="song name"></a>
                    <h4>Song Name</h4>
                    <p>Arist Name</p>
                </div>
                
                <div class="item">
                    <a><img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="song name"></a>
                    <h4>Song Name</h4>
                    <p>Arist Name</p>
                </div>
            </div>
            <hr>
        </div>

        <div class="song_list">
            <h2>Playlists For You</h2>
            <div class="list">
                <div class="item">
                    <a><img src="{{url_for('static', filename='placeholder.png')}}" alt="song name"></a>
                    <h4>Song Name</h4>
                    <p>Arist Name</p>
                </div>
                
                <div class="item">
                    <a><img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="song name"></a>
                    <h4>Song Name</h4>
                    <p>Arist Name</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
    
    <!-- Left Side Bar -->
    <div class="left_sidebar">
        <div class="logo">
            <a href="">
                <img src="{{url_for('static', filename='logo.png')}}" alt="Logo">
            </a>
        </div>
        <div class="navigation">
            <ul>
                <li>
                    <a href="{{url_for('listener_home')}}">
                        <span class="link_icon"></span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Search</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>My Playlists</span>
                    </a>
                    <a href="" class="add_playlist">+</a>
                    <ul class="list_container">
                        <li>
                            <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                            <span>A Playlist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                            <span>Another Playlist</span>
                        </li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Create Playlist</span>
                    </a>
                </li> -->
            </ul>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Followed Artists</span>
                    </a>
                    <ul class="list_container">
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>An Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>Another Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>An Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>Another Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>An Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>Another Artist</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- Right Sidebar -->
    <div class="right_sidebar">
        <h1>Top Hits</h1>
        <div class="navigation">
            <ul>
                <li>
                    <p>
                        <span class="link_icon"></span>
                        <span>Weekly:</span>
                        <ul class="list_container">
                            <li>
                                <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                                <span>A Song</span>
                            </li>
                            <li>
                                <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                                <span>Another Song</span>
                            </li>
                    </p>
                </li>
            </ul>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <p>
                        <span class="link_icon"></span>
                        <span>Daily:</span>
                        <ul class="list_container">
                            <li>
                                <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                                <span>A song</span>
                            </li>
                            <li>
                                <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                                <span>Another Song</span>
                            </li>
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <!-- Music Player -->
    <div class="song_player">
        <!-- Replace image, song name, artist name with actual database information -->
        <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="song name">
        <h5>Song Name</br>
            <div class="artist_name">Artist Name</div>
        </h5>
        <audio controls>
            <!-- Provide the actual source path for the song -->
            <source src="" type="">
        </audio>
        </div>
    </div>
</body>
</html>