{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
<section class="form_style">
    <div class="container">
        <header>
            <h1>Login for {{ role }}</h1>
        </header>
        
        <form method='POST' action="/login?role={{ role }}" class="form">
            <div class="input_box">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter your username" required>
            </div>

            <div class="input_box">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
            </div>
            
            <button type="submit" class="submit_btn">Login</button>
        </form></br>
        <a href="/register?role={{ role }}" class="center_text">Don't have an account? Sign Up</a></br>
        <a href="/" class="center_text">Lost Your Password?</a>
    </div>
</section>
{% endblock %}