<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Login</title>
</head>
<body>
    <section class="form_style">
        <div class="container">
            <header>
                <h1>Login Page</h1>
            </header>
            
            <form method='POST' action="/{{ role }}/login" class="form">
                <div class="input_box">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter your username">
                </div>
    
                <div class="input_box">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password">
                </div>
                
                <button type="submit" class="submit_btn">Login</button>
            </form></br>
            <a href="/{{ role }}/register" class="center_text">Don't have an account? Sign Up</a></br>
            <a href="/" class="center_text">Lost Your Password?</a>
        </div>
    </section>
</body>
</html>