{% extends 'base_listener.html' %}
{% block page %}
<!-- Main Container To Display Profile -->
<div class="main_container">
    <div class="listener_profile">
        <img src="/pic" alt="profile picture">
        <div class="profile_information">
            <h4>Profile</h4>
            <h1>{{ data.user[1] }} {{ data.user[2] }}</h1>
            <h3>{{ data.user[3] }} Following</h3>
        </div>
        <a href="/edit"><h4>Edit Profile</h4></a>
    </div>

    <!-- <div class="song_list">
        <h2>Top artist this month</h2>
        <div class="list">
            <div class="artist_item">
                <a><img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="song name"></a>
                <h4>Artist Name</h4>
                <p>Arist</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="song_list">
        <h2>Top tracks this month</h2>
        <div class="list">
            <div class="item">
                <a><img src="{{url_for('static', filename='placeholder.png')}}" alt="song name"></a>
                <h4>Artist Name</h4>
                <p>Arist</p>
            </div>
        </div>
        <hr>
    </div> -->

    <div class="song_list">
        <h2>Playlists</h2>
        <div class="list">
            {% for playlist in data.playlists %}
            <div class="item">
                <a><img src="/pic"></a>
                <h4>{{ playlist[0] }}</h4>
                <p>by {{ playlist[1] }} {{ playlist[2] }}</p>
            </div>
            {% endfor %}
        </div>
        <hr>
    </div>

    <div class="song_list">
        <h2>Following</h2>
        <div class="list">
            {% for artist in data.following %}
            <div class="artist_item">
                <a><img src="/artist/{{ artist[4] }}/pic" class="artist_img"></a>
                <h4>{{ artist[3] }}</h4>
                <p>Profile</p>
            </div>
            {% endfor %}
        </div>
        <hr>
    </div>
</div>
{% endblock %}