<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../profile_style.css">
    <title>Profile</title>
</head>
<body>
     <!-- Top Navigation Bar -->
     <header>
        <div class="topbar">
            <ul class="topbar_navigation">
                <li>
                    <a href="">
                        <span>Hello Listener User!</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('profile_listener')}}">
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Recommendations</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Listen History</span>
                    </a>
                </li>
            </ul>
            <div class="search">
                <form>
                    <input type="text" class="search_bar" placeholder="Search Music...">
                    <button type="submit" class="search_btn">Search</button>
                </form>
            </div>
            <ul class="topbar_navigation">
                <li>
                    <a href="">
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <!-- Main Container To Display Profile -->
    <div class="main_container">

        <div class="listener_profile">
            <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="profile picture">
            <div class="profile_information">
                <h4>Profile</h4>
                <h1>User Name</h1>
                <h3>12 Following</h3>
            </div>
            <a href="{{url_for('edit_profile_listener')}}"><h4>Edit Profile</h4></a>
        </div>

        <div class="song_list">
            <h2>Top artist this month</h2>
            <!-- Container to hold the song image, name, and artist name. Replace direct paths with actual database information. 
                Need to make a loop to create for however many we want to display. Instead of making each ourselves.-->
            <div class="list">
                <div class="artist_item">
                    <a><img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="song name"></a>
                    <h4>Artist Name</h4>
                    <p>Arist</p>
                </div>
            </div>
            <hr>
        </div>

        <div class="song_list">
            <h2>Top tracks this month</h2>
            <div class="list">
                <div class="item">
                    <a><img src="{{url_for('static', filename='placeholder.png')}}" alt="song name"></a>
                    <h4>Artist Name</h4>
                    <p>Arist</p>
                </div>
            </div>
            <hr>
        </div>

        <div class="song_list">
            <h2>Playlists</h2>
            <div class="list">
                <div class="item">
                    <a><img src="{{url_for('static', filename='placeholder.png')}}" alt="song name"></a>
                    <h4>Playlist Name</h4>
                    <p>By User Name</p>
                </div>
            </div>
            <hr>
        </div>

        <div class="song_list">
            <h2>Following</h2>
            <div class="list">
                <div class="artist_item">
                    <a><img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="song name"class="artist_img"></a>
                    <h4>Artist Name</h4>
                    <p>Profile</p>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <!-- Left Side Bar -->
    <div class="left_sidebar">
        <div class="logo">
            <a href="">
                <img src="{{url_for('static', filename='logo.png')}}" alt="Logo">
            </a>
        </div>
        <div class="navigation">
            <ul>
                <li>
                    <a href="{{url_for('listener_home')}}">
                        <span class="link_icon"></span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Search</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>My Playlists</span>
                    </a>
                    <a href="" class="add_playlist">+</a>
                    <ul class="list_container">
                        <li>
                            <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                            <span>A Playlist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="playlist name">
                            <span>Another Playlist</span>
                        </li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Create Playlist</span>
                    </a>
                </li> -->
            </ul>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Followed Artists</span>
                    </a>
                    <ul class="list_container">
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>An Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>Another Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>An Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>Another Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>An Artist</span>
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='placeholder.png')}}" alt="playlist name">
                            <span>Another Artist</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

     <!-- Music Player -->
     <div class="song_player">
        <!-- Replace image, song name, artist name with actual database information -->
        <img src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="song name">
        <h5>Song Name</br>
            <div class="artist_name">Artist Name</div>
        </h5>
        <audio controls>
            <!-- Provide the actual source path for the song -->
            <source src="" type="">
        </audio>
        </div>
    </div>
</body>
</html>