{% extends 'base.html' %}
{% block title %}Song{% endblock %}
{% block body %}
<body>
    <section class="form_style">
        <div class="container">
            <form method='POST' action="/song/{{song_id}}/rate" class="form">

                <div class="input_box">
                    <label for="rating">Rate the song</label>
                    <input type="number" name="rating" id="rating" placeholder="5">
                </div>
                <button type="submit" class="submit_btn">Rate</button>
            </form></br>
        </div>
    </section>
</body>
{% endblock %}