<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_admin.css"> <!-- Link to your CSS file -->
    <title>Admin Dashboard</title>
</head>
<body>
    <!-- Admin Header -->
    <div class="admin-header">
        <h1>Admin Dashboard</h1>
    </div>

    <!-- Reports Box (Top) -->
    <div class="reports-box">
        <a href="/admin/create_report">Reports</a>
    </div>

    <!-- Logout Button (Top Left) -->
    <div class="logout-button">
        <a href='/logout'>Logout</a>
    </div>

    <!-- Main Container -->
    <div class="container">
        <!-- Left Panel (Unresolved and Resolved Requests) -->
        <div class="left-panel">
            <!-- Unresolved Requests Section -->
            <h2>Unresolved Requests</h2>
            <div class="scroll-box unresolved-requests-section">
                <ul id="unresolved-requests-list">
                    <!-- Your unresolved requests list goes here -->
                </ul>
            </div>

            <!-- Resolved Requests Section -->
            <h2>Resolved Requests</h2>
            <div class="scroll-box resolved-requests-section">
                
                <ul id="resolved-requests-list">
                    <!-- Your resolved requests list goes here -->
                </ul>
            </div>
        </div>

        <!-- Right Panel (Search and Insights) -->
        <div class="right-panel">
            <!-- Search Section -->
            <!-- Your search form -->
            <div class="search-section">
                <h2>Search</h2>
                <form  action="/search_results_admin" method="post">
                    <input type="text" name="query" placeholder="Search...">
                    <div>
                        <input type="checkbox" name="filters" value="artist"> Artist
                        <input type="checkbox" name="filters" value="album"> Album
                        <input type="checkbox" name="filters" value="listener"> Listener
                        <input type="checkbox" name="filters" value="song"> Song
                    </div>
                    <input type="submit" value="Search">
                </form>
            </div>

      

            <!-- Insights Section -->
            <div class="insights-section">
                <h2>Insights</h2>
                <div class="insight-boxes">
                    <div class="insight-box">
                        <h3>Total Listeners</h3>
                        <div class="insight-details">
                            <p id="totalListenersCount">0 <a href="/admin/insights/Listener" class="view-button">View</a></p>
                        </div>
                    </div>
                    <div class="insight-box">
                        <h3>Total Songs</h3>
                        <div class="insight-details">
                            <p id="totalSongsCount">0 <a href="/admin/insights/Song" class="view-button">View</a></p>
                        </div>
                    </div>
                    <div class="insight-box">
                        <h3>Total Artists</h3>
                        <div class="insight-details">
                            <p id="totalArtistsCount">0 <a href="/admin/insights/Artist" class="view-button">View</a></p>
                        </div>
                    </div>
                    <!-- <div class="insight-box">
                        <h3>Total Playlists</h3>
                        <div class="insight-details">
                            <p id="totalPlaylistsCount">0 <a href="/admin/insights/Playlist" class="view-button">View</a></p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>
<script>
    
document.addEventListener('DOMContentLoaded', async function () {
    try {
        const response = await fetch('/ajax');
        const data = await response.json();

        const numberOfLis= data.NumUsers[0]['COUNT(*)'];
        const totalListenersCount = document.getElementById('totalListenersCount');
        totalListenersCount.innerHTML = numberOfLis +' <a href="/admin/insights/Listener" class="view-button">View</a>';

    } catch (error) {
        console.error('Error:', error);
    }
});
document.addEventListener('DOMContentLoaded', async function () {
    try {
        const response = await fetch('/ajax');
        const data = await response.json();

        const numberOfSong= data.NumSongs[0]['COUNT(*)'];
        const totalListenersCount = document.getElementById('totalSongsCount');
        totalListenersCount.innerHTML = numberOfSong +' <a href="/admin/insights/Song" class="view-button">View</a>';

    } catch (error) {
        console.error('Error:', error);
    }
});
document.addEventListener('DOMContentLoaded', async function () {
    try {
        const response = await fetch('/ajax');
        const data = await response.json();

        const numberOfPlay= data.NumPlaylist[0]['COUNT(*)'];
        const totalListenersCount = document.getElementById('totalPlaylistsCount');
        totalListenersCount.innerHTML = numberOfPlay +' <a href="/admin/insights/Playlist" class="view-button">View</a>';

    } catch (error) {
        console.error('Error:', error);
    }
});
document.addEventListener('DOMContentLoaded', async function () {
    try {
        const response = await fetch('/ajax');
        const data = await response.json();

        const numberOfArtists = data.NumArtist[0]['COUNT(*)'];
        const totalListenersCount = document.getElementById('totalArtistsCount');
        totalListenersCount.innerHTML = numberOfArtists +' <a href="/admin/insights/Artist" class="view-button">View</a>';

    } catch (error) {
        console.error('Error:', error);
    }
});

document.addEventListener('DOMContentLoaded', async function () {
    try {
        const response = await fetch('/admin/reported/UnResolved');
        const data = await response.json();

        const unresolvedRequestsList = document.getElementById('unresolved-requests-list');
        if (data.UnResolved && Array.isArray(data.UnResolved)) {
            data.UnResolved.forEach(song => {
                let songDiv = document.createElement('div');
                songDiv.classList.add('song-box');

                // Song ID
                let id = document.createElement('div');
                id.textContent = `Song ID: ${song.SongID}`;
                id.classList.add('song-id');
                songDiv.appendChild(id);

                // Song Name
                let name = document.createElement('div');
                name.textContent = `Name: ${song.Name}`;
                name.classList.add('song-name');
                songDiv.appendChild(name);

                // Song Action Button
                let actionButton = document.createElement('button');
                actionButton.textContent = 'View Song';
                actionButton.classList.add('song-action-button');
                actionButton.onclick = function() {
                    window.location.href = `/song-consider/${song.SongID}`;
                };
                songDiv.appendChild(actionButton);

                unresolvedRequestsList.appendChild(songDiv);
            });
        }
    } catch (error) {
        console.error('Error fetching unresolved song requests:', error);
    }
});
document.addEventListener('DOMContentLoaded', async function () {
    try {
        const response = await fetch('/admin/reported/Resolved');
        const data = await response.json();

        const unresolvedRequestsList = document.getElementById('resolved-requests-list');
        if (data.Resolved && Array.isArray(data.Resolved)) {
            data.Resolved.forEach(song => {
                let songDiv = document.createElement('div');
                songDiv.classList.add('song-box');

                // Song ID
                let id = document.createElement('div');
                id.textContent = `Song ID: ${song.SongID}`;
                id.classList.add('song-id');
                songDiv.appendChild(id);

                // Song Name
                let name = document.createElement('div');
                name.textContent = `Name: ${song.Name}`;
                name.classList.add('song-name');
                songDiv.appendChild(name);

                // Song Action Button
                let actionButton = document.createElement('button');
                actionButton.textContent = 'View Song';
                actionButton.classList.add('song-action-button');
                actionButton.onclick = function() {
                    window.location.href = `/song-considered/${song.SongID}`;
                };
                songDiv.appendChild(actionButton);

                unresolvedRequestsList.appendChild(songDiv);
            });
        }
    } catch (error) {
        console.error('Error fetching unresolved song requests:', error);
    }
});














</script>
