<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" <img src="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Album</title>
</head>

<body>


    
<!-- Main Container To Display The Album Details and Songs-->
<header id='topBar'>
</header>

<iframe name="blankframe" id="blankframe" style="display: none;"></iframe>

<div class="album_container">
    <div class="album" id='albumData'>
        
    </div>

    <!-- List of Songs, Needs A Loop to Create the List Instead of Listing Them Manually -->
    <div class="album_songs">
        <div class="album_header">
            <ul>
                <div class="album_left_info">
                    <li class="song_list_number">
                        <h4>#</h4>
                    </li>
                    <li>
                        <h4>Title</h4>
                    </li>
                </div>
                <div class="album_right_info">
                    <!-- josh-edits-to-flag -->
                    <li>
                        <h4>Report</h4>
                    </li>
                    <li>
                        <h4></h4> 
                    </li>
                    <li>
                        <h4>Duration</h4>
                    </li>
                    <li>
                        <h4></h4> 
                    </li>
                    <li>
                        <h4>Rate</h4> 
                    </li>
                    <li>
                        <h4></h4>
                    </li>
                </div>
            </ul>
        </div>
        <hr>

        <div id='songList'>
        </div>

        <div class="song_list">
            <h2>More</h2>
            <div class="list" id='moreBy'>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="left_sidebar" id='leftBar'>
</div>

<div id='playerDiv' style='display:none;' class="song_player">
    <!-- Replace image, song name, artist name with actual database information -->
    <img id='playerImage' src="" alt="song name">
    <h5>
    <div id='playerSong'>Song Name</div>
    <div id='playerArtist' class="artist_name">Artist Name</div>
</h5>
    <audio id='playerAudio' controls>
        <!-- Provide the actual source path for the song -->
        <source id='playerSource' src="" type="">
    </audio>
    </div>
</div>

<script src='/base.js'></script>
<script>

addEventListener("DOMContentLoaded", (event) => {

    let albumId = window.location.pathname.split('/')[2];
    fetch(`/ajax/album/${albumId}`)
        .then(response => response.json())
        .then(data => {
            document.getElementById('topBar').innerHTML = getTopbar(data);
            document.getElementById('leftBar').innerHTML = getSidebar(data);
            console.log(data);

            let html = '';

            html += `<img src="/album/${data.albumData['AlbumID']}/pic" alt="album picture">
                <div class="album_information">
                    <h1>${data.albumData['AlbumName']}</h1>
                    <div>
                        <ul class="album_data">
                            <li class="album_artist">
                                <h3>${data.albumData['ArtistName'] }</h3> 
                            </li>
                            <li>
                                <h4>${data.album_duration}</h4>
                            </li>
                            <li>
                                <h4>Released on ${data.formattedReleaseDate}</h4>
                            </li>
                        </ul>
                        <a id='followLink' href='/artist/${data.albumData["ArtistID"]}/follow'>Follow</a>
                        <a id='unfollowLink' href='/artist/${data.albumData["ArtistID"]}/unfollow'>Unfollow</a>
                    </div>
                </div>`;
            document.getElementById('albumData').innerHTML = html;

            const playlistsDropdownHtml = function(songId) {
                let html = '';
                for(const playlist of data['playlists']) {
                    html += `<div class="dropdown_item">
                        <a href="/playlist/${playlist['PlaylistID']}/add/${songId}">${playlist['PlaylistName']}</a>
                    </div>`;
                }
                return html;
            }



            const ReportHTML = (flagged,reviewed,userflagged,songId)=>{
                console.log(songId)
                let html='';
                // if its been reviewed unable to keep being reported
                if(userflagged===-1){

                    if(flagged && !reviewed){
                        html+='<button class="flagged-button">Flagged</button>'

                    }
                }
                else{
                    if(reviewed){
                    return html
                }
                else if(!flagged && userflagged===1){
                    //html+='<button class="under-review">Pending</button>'
                    html += '<button value="' + songId + '" onclick="toggleDropdown(this)" class="under-review">Pending</button>';
                }
                // if its not been completly flagged 
                else if(!flagged && !reviewed){



                    html += '<button value="' + songId + '" onclick="toggleDropdown(this)" class="flag-button">Flag</button>';



                }
                else if(flagged &&!reviewed){
                    html+='<button class="flagged-button">Flagged</button>'
                }


                }
              





                return html
            }

            html = '';
            for(const song of data['songData']) {
                html += `<div class="track_list" id='list${ song['songID'] }'>
                        <div class="track_info">
                            <ul>
                                <div class="track_left_info">
                                    <li class="song_list_number">
                                        <h4>${song['count'] }</h4>
                                    </li>
                                    <li>
                                        <a id='playSong' ii="${song['count']}" songid="${ song['songID'] }" href='#'><h4>${ song['songName']}</h4></a>
                                        <a href="/artist/${song['artistID']}"><h5>${song['artistName']}</h5></a>
                                    </li>
                                </div>
                                <div class="track_right_info">
                              
    <li class="centered-list">
        <h4>${ReportHTML(song['Flag'],song['Reviewed'],song['UserFlagged'],song['songID'])}</h4>
    </li>

                                    <li>
                        <h4></h4>
                    </li>
                    <li>
                        <h4></h4> 
                    </li>
                                    <li>
                                        <h4>${song['Duration']}</h4>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <h4>+</h4>
                                            <div class="dropdown_menu">
                                                ${playlistsDropdownHtml(song['songID'])}
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <form method='POST' target='blankframe' action="/song/${song['songID']}/rate">

                                            <div>
                                                <input style='width:32px;' type="number" name="rating" id="rating" min='1' max='5'>
                                            <button type="submit">Rate</button>
                                            </div>
                                        </form>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>`;
            }
            document.getElementById('songList').innerHTML = html;

            html = '';
            for(const album of data.more_by) {
                html += `<div class="item">
                    <a href="/album/${album['AlbumID']}"><img src="/album/${ album['AlbumID']}/pic"></a>
                    <h4>${album['AlbumName']}</h4>
                    <p>${album['ArtistName']}</p>
                </div>`;
            }
            document.getElementById('moreBy').innerHTML = html;
        })
    .then(() => {
        const playSongLinks = document.querySelectorAll('#playSong');
        for (let i = 0; i < playSongLinks.length; i++) {
            playSongLinks[i].addEventListener('click', playSong(playSongLinks[i]));
        }

        document.getElementById('followLink').addEventListener('click', function(ev){
            ev.preventDefault();
            fetch(this.href)
            .then((res) => res.text())
            .then((data) => {
                alert(data);
                document.getElementById('leftBar').innerHTML = getSidebar(data);

            }); 
        });
        document.getElementById('unfollowLink').addEventListener('click', function(ev){
            ev.preventDefault();
            fetch(this.href)
            .then((res) => res.text())
            .then((data) => {
                alert(data);
                document.getElementById('leftBar').innerHTML = getSidebar(data);

            });     
        });
    });

});


async function toggleDropdown(button) {
    var songId = button.value; // Assuming the button has a value attribute set to songId

    // Construct the data to send
    const data = { 'SongID': songId };

    // Perform the POST request
    try {
        const response = await fetch('/report-song', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        });

        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const responseData = await response.json(); // Or .text(), depending on the response type
        console.log('Server response:', responseData);
        window.location.reload();

   

    } catch (error) {
        console.error('Error during the POST request:', error);
    }

}





</script>
</body>
</html>