{% extends 'base_listener.html' %}
{% block page %}
<!-- Main Container To Display The Album Details and Songs-->
<div class="album_container">
    <div class="album">
        <img src="/album/{{ data.albumData['AlbumID'] }}/pic" alt="album picture">
        <div class="album_information">
            <h1>{{ data.albumData['AlbumName'] }}</h1>
            <div>
                <ul class="album_data">
                    <li class="album_artist">
                        <h3>{{ data.albumData['ArtistName'] }}</h3> 
                    </li>
                    <li>
                        <h4>{{ data.album_duration }}</h4>
                    </li>
                    <li>
                        <h4>Released on {{ albumData['ReleaseDate'] }}</h4>
                    </li>
                </ul>
                <a href='/artist/{{ data.album['ArtistID'] }}/follow'>Follow</a>
                <a href='/artist/{{ data.album['ArtistID'] }}/unfollow'>Unfollow</a>
            </div>
        </div>
    </div>

    <!-- List of Songs, Needs A Loop to Create the List Instead of Listing Them Manually -->
    <div class="album_songs">
        <div class="album_header">
            <ul>
                <div class="album_left_info">
                    <li class="song_list_number">
                        <h4>#</h4>
                    </li>
                    <li>
                        <h4>Title</h4>
                    </li>
                </div>
                <div class="album_right_info">
                    <li>
                        <h4>Duration</h4>
                    </li>
                    {% if role=='listener' %}
                    <li>
                        <h4></h4> 
                    </li>
                    <li>
                        <h4>Rate</h4> 
                    </li>
                    <li>
                        <h4></h4>
                    </li>
                    {% endif %}
                </div>
            </ul>
        </div>
        <hr>

        {% for song in data.songData %}
        <div class="track_list">
            <div class="track_info">
                <ul>
                    <div class="track_left_info">
                        <li class="song_list_number">
                            <h4>{{ song['count'] }}</h4>
                        </li>
                        <li>
                            <a id='playSong' songid='{{ song['SongID'] }}' href='#'><h4>{{ song['Name'] }}</h4></a>
                            <a href="/artist/{{ song['ArtistID'] }}"><h5>{{ song['ArtistName'] }}</h5></a>
                        </li>
                    </div>
                    <div class="track_right_info">
                        <li>
                            <h4>{{ song['Duration'] }}</h4>
                        </li>
                        {% if role=='listener' %}
                        <li>
                            <div class="dropdown">
                                <h4>+</h4>
                                <div class="dropdown_menu">
                                    {% for playlist in data.playlists %}
                                    <div class="dropdown_item">
                                        <a href="">{{ playlist['PlaylistName'] }}</a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        <li>
                            <form method='POST' action="/song/{{ song['SongID'] }}/rate">

                                <div>
                                    <input style='width:32px;' type="number" name="rating" id="rating" placeholder="5">
                                <button type="submit">Rate</button>
                                </div>
                            </form>
                        </li>
                        {% endif %}
                    </div>
                </ul>
            </div>
        </div>
        {% endfor %}

        <div class="song_list">
            <h2>More Albums by {{ data.album['ArtistName'] }}</h2>
            <div class="list">
                {% for album in data.more_by %}
                <div class="item">
                    <a><img src="/album/{{ album['AlbumID'] }}/pic"></a>
                    <h4>{{ album['AlbumName'] }}</h4>
                    <p>{{ album['ArtistName'] }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<script>
function playSong(e) {
    e.preventDefault();

    let songid = this.getAttribute('songid');
    
    fetch('/song/'+songid)
        .then(response => response.json())
        .then(data => {
            let playerImage = document.getElementById('playerImage');
            let playerSong = document.getElementById('playerSong');
            let playerArtist = document.getElementById('playerArtist');
            let playerSource = document.getElementById('playerSource');

            playerImage.setAttribute('src', '/album/'+data['albumid']+'/pic');
            playerSong.innerHTML = data['songname'];
            playerArtist.innerHTML = data['artistname'];
        })
        .finally(() => {
            let playerSource = document.getElementById('playerSource');
            let playerAudio = document.getElementById('playerAudio');
            playerSource.setAttribute('src', '/song/'+songid+'/audio');
            playerAudio.load();
            playerAudio.play();
            let playerDiv = document.getElementById('playerDiv');
            playerDiv.style.display = '';
        })
        .catch(error => console.error('Error:', error));
}
addEventListener("DOMContentLoaded", (event) => {
    const playSongLinks = document.querySelectorAll('#playSong');
    for (var i = 0; i < playSongLinks.length; i++) {
        playSongLinks[i].addEventListener('click', playSong);
    }
});
</script>
{% endblock %}