<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" <img src="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Artist</title>
</head>

<body>
    <!-- Top Navigation Bar -->
    <header id='topBar'>
    </header>

    <div class="main_container">

        <div class="listener_profile" id='profile'>
            
        </div>

        <div class="song_list">
            <h2>Songs</h2>
            <div class="list" id='songs'>
            </div>
            <hr>
        </div>

        <div class="song_list">
            <h2>Albums</h2>
            <div class="list" id='albums'>
                
            </div>
            <hr>
        </div>
    </div>

    <!-- Left Side Bar -->
    <div class="left_sidebar" id='leftBar'>
        
    </div>

    <div id='playerDiv' style='display:none;' class="song_player">
        <!-- Replace image, song name, artist name with actual database information -->
        <img id='playerImage' src="" alt="song name">
        <h5>
        <div id='playerSong'>Song Name</div>
        <div id='playerArtist' class="artist_name">Artist Name</div>
    </h5>
        <audio id='playerAudio' controls>
            <!-- Provide the actual source path for the song -->
            <source id='playerSource' src="" type="">
        </audio>
        </div>
    </div>
    

<script src='/base.js'></script>
<script>

</script>
<script>
addEventListener("DOMContentLoaded", (event) => {

    const artistID = window.location.pathname.split('/').pop();

    fetch(`/ajax/artist/${artistID}`)
        .then(response => response.json())
        .then(data => {

            console.log(data);


            document.getElementById('topBar').innerHTML = getTopbar(data);
            document.getElementById('leftBar').innerHTML = getSidebar(data);

            let html = '';
            for(const song of data.artistSongs) {
                html += `<div class="item">
                    <a id='playSong' songid="${ song['SongID'] }" href='#'><img src="/album/${song['AlbumID']}/pic"></a>
                    <h4>${song['SongName']}</h4>
                </div>`;
            }
            document.getElementById('songs').innerHTML = html;


            html = '';
            for(const album of data.artistAlbums) {
                html += `<div class="item">
                    <a href='/album/${album['AlbumID']}'><img src="/album/${album['AlbumID']}/pic"></a>
                    <h4>${album['AlbumName']}</h4>
                </div>`;
            }
            document.getElementById('albums').innerHTML = html;

            html = '';
            html += `<img src="/artist/${data.artistInfo[0]['ArtistID']}/pic" alt="profile picture">
            <div class="profile_information">
                <h4>Profile</h4>
                <h1>${data.artistInfo[0]['ArtistName']}</h1>
                <h3>${data.artistInfo[0]['COUNT(Follow.ArtistID)']} Followers</h3>
            </div>
            <a id='followLink' href='/artist/${data.artistInfo[0]['ArtistID']}/follow' style='margin-left: 10px; margin-right: 5px'>Follow</a>
            <a id='unfollowLink' href='/artist/${data.artistInfo[0]['ArtistID']}/unfollow' style='margin-left: 5px; margin-right: 5px'>Unfollow</a>`;
            document.getElementById('profile').innerHTML = html;
        })
        .then(() => {
        const playSongLinks = document.querySelectorAll('#playSong');
        for (let i = 0; i < playSongLinks.length; i++) {
            playSongLinks[i].addEventListener('click', playSong(playSongLinks[i]));
        }
    });
});
</script>
</body>
</html>