<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" img src="/favicon.ico">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Artist Insights</title>
</head>

<body>
    <!-- Main Container To Display The Songs-->
    <header id='topBar'>
    </header>

    <div class="main_container">
        <div class="report_form_container">
            <header>Listening Time Patterns</header>
            <form method="POST" action="/artist_insights" class="insightsForm">
                <div>
                    <label for="beginDate">From</label>
                    <input type="date" name="beginDate">

                    <label for="endDate">To</label>
                    <input type="date" name="endDate">
                </div>
                <div>
                    <label for="album">Album</label>
                    <input type="text" name="album" placeholder="Album Name" onchange="showSongSelect()">

                    <div id="songSelectDiv" style="display:none;">
                        <label for="song">Song</label>
                        <select id="song" name="song">
                            <option value="">All</option>
                            <!-- Populate this based on selected album -->
                        </select>
                    </div>

                </div>
                <div>
                    <button type="button" onclick="submitForm()" class="submit_btn">Submit</button>
                </div>
            </form>

            <!-- Display results in a table -->
            <table id="resultsTable" border="1">
                <thead>

                </thead>
                <tbody id="resultsBody"></tbody>
            </table>
        </div>
    </div>

    <div class="left_sidebar" id='leftBar'>
    </div>



    <div id='playerDiv' style='display:none;' class="song_player">
        <img id='playerImage' src="{{url_for('static', filename='Cockatiel-2.jpg')}}" alt="song name">
        <h5>
            <div id='playerSong'>Song Name</div>
            <div id='playerArtist' class="artist_name">Artist Name</div>
        </h5>
        <div class="player_controls">
            <button id="prevSong"><i class="fa fa-backward"></i></button>
            <audio id='playerAudio' controls>
                <source id='playerSource' src="" type="">
            </audio>
            <button id="nextSong"><i class="fa fa-forward"></i></button>
        </div>
    </div>


    <script src='/base_one.js'></script>

    <script>
        // Function to show or hide the song select based on the album selection
        function showSongSelect() {
            const albumInput = document.querySelector('input[name="album"]');
            const songSelectDiv = document.getElementById('songSelectDiv');
            const songSelect = document.getElementById('song');

            // Check if the album input is not blank
            if (albumInput.value.trim() !== '') {
                // Show the song select div
                songSelectDiv.style.display = 'block';

                // Fetch songs based on the selected album
                const selectedAlbumId = albumInput.value;
                fetch(`/ajax/album/${selectedAlbumId}/songs`)
                    .then(response => response.json())
                    .then(data => {
                        // Clear existing options
                        songSelect.innerHTML = '<option value="">All</option>';

                        // Populate the options dynamically
                        data.songs.forEach(song => {
                            const option = document.createElement('option');
                            option.value = song.SongID;
                            option.text = song.SongName;
                            songSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching songs:', error));
            } else {
                // Hide the song select div
                songSelectDiv.style.display = 'none';
            }
        }

        function submitForm() {
            // Collect form data
            const formData = new FormData(document.querySelector('.insightsForm'));

            // Get the selected value of the genre dropdown
            const selectedSong = document.getElementById('song').value;

            // Set the selected value in the FormData
            formData.set('song', selectedSong);

            // Send form data to the server using fetch
            fetch('/artist_insights', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    // Display the results in the table
                    displayResults(data);
                })
                .catch(error => console.error('Error:', error));
        }

        function displayResults(results) {
            const resultsTableBody = document.getElementById('resultsBody');

            // Clear existing table rows and header
            resultsTableBody.innerHTML = '';

            // Check if there are results
            if (results.length === 0) {
                console.log('No results found');
                return;
            }

            // Create dynamic table header
            const tableHeader = document.createElement('tr');
            const columns = Object.keys(results[0]);
            columns.forEach(column => {
                const th = document.createElement('th');
                th.textContent = column;
                tableHeader.appendChild(th);
            });
            resultsTableBody.appendChild(tableHeader);

            // Populate the table with the results
            results.forEach(result => {
                const row = document.createElement('tr');
                columns.forEach(column => {
                    const td = document.createElement('td');
                    td.textContent = result[column];
                    row.appendChild(td);
                });
                resultsTableBody.appendChild(row);
            });
        }
    </script>

    <script>
        addEventListener("DOMContentLoaded", (event) => {
            fetch('/ajax')
                .then(response => response.json())
                .then(data => {

                    document.getElementById('topBar').innerHTML = getTopbar(data);
                    document.getElementById('leftBar').innerHTML = getSidebar(data);

                    let html = '';
                    for (const album of data['new_releases']) {
                        html += `<div class="item">
                    <a href="/album/${album.AlbumID}"><img src="/album/${album.AlbumID}/pic"></a>
                    <h4>${album.AlbumName}</h4>
                    <a href="/artist/${album.AlbumID}"><p>${album.ArtistName}</p></a>
                </div>`;
                    }
                    document.getElementById('newReleases').innerHTML = html;

                    html = '';
                    for (const album of data.for_you) {
                        html += `<div class="item">
                    <a href="/album/${album.AlbumID}"><img src="/album/${album.AlbumID}/pic"></a>
                    <h4>${album.AlbumName}</h4>
                    <a href="/artist/${album.AlbumID}"><p>${album.ArtistName}</p></a>
                </div>`;
                    }
                    document.getElementById('forYou').innerHTML = html;
                })
        });
    </script>

</body>

</html>