{% extends 'base_artist.html' %}
{% block page %}
<!-- Main Container To Display The Songs -->
    <div class="main_container">
        <div class="song_list">
            <h2>My Music</h2>
            <!-- Container to hold the song image, name, and artist name. Replace direct paths with actual database information. 
                Need to make a loop to create for however many we want to display. Instead of making each ourselves.-->
            <div class="list">
                {% for album in data.my_music %}
                <div class="item">
                    <a href='/album/{{ album['AlbumID'] }}'><img src="/album/{{ album['AlbumID'] }}/pic"></a>
                    <h4>{{ album['AlbumName'] }}</h4>
                    <a href='/artist/{{ album['ArtistID'] }}'>{{ album['ArtistName'] }}</a>
                </div>
                {% endfor %}
            </div>
            <hr>
        </div>

        <div class="song_list">
            <h2>Most Played Albums</h2>
            <div class="list">
                {% for album in data.most_played_albums %}
                <div class="item">
                    <a href='/album/{{ album['AlbumID'] }}'><img src="/album/{{ album['AlbumID'] }}/pic"></a>
                    <h4>{{ album['AlbumName'] }}</h4>
                    <a href='/artist/{{ album['ArtistID'] }}'>{{ album['ArtistName'] }}</a>
                </div>
                {% endfor %}
            </div>
            <hr>
        </div>

        <div class="song_list">
            <h2>Highest Rated Albums</h2>
            <div class="list">
                {% for album in data.highest_rated_albums %}
                <div class="item">
                    <a href='/album/{{ album['AlbumID'] }}'><img src="/album/{{ album['AlbumID'] }}/pic"></a>
                    <h4>{{ album['AlbumName'] }}</h4>
                    <a href='/artist/{{ album['ArtistID'] }}'>{{ album['ArtistName'] }}</a>
                </div>
                {% endfor %}
            </div>
            <hr>
        </div>

        <div class="song_list">
            <h2>Most Played Songs</h2>
            <div class="list">
                {% for song in data.most_played_songs %}
                <div class="item">
                    <a href='/album/{{ song['AlbumID'] }}'><img src="/album/{{ song['AlbumID'] }}/pic"></a>
                    <h4>{{ song['Name'] }}</h4>
                    <a href='/album/{{ song['AlbumID'] }}'>{{ song['AlbumName'] }}</a>
                </div>
                {% endfor %}
            </div>
            <hr>
        </div>

        <div class="song_list">
            <h2>Highest Rated Songs</h2>
            <div class="list">
                {% for song in data.highest_rated_songs %}
                <div class="item">
                    <a href='/album/{{ song['AlbumID'] }}'><img src="/album/{{ song['AlbumID'] }}/pic"></a>
                    <h4>{{ song['Name'] }}</h4>
                    <a href='/album/{{ song['AlbumID'] }}'>{{ song['AlbumName'] }}</a>
                </div>
                {% endfor %}
            </div>
            <hr>
        </div>
    </div>
{% endblock %}