<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" <img src="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Create</title>
</head>
<body>
<!-- Main Container To Display Profile -->
<header id='topBar'>
</header>

    <!-- Main Container To Display The Album Details and Songs-->
    <div class="main_container">

        <section class="form_style">
            <div class="container">
                <header>
                    <h1>Create New Playlist</h1>
                </header>
                
                <form method='POST' action="/playlist/create" class="form">
                    <div class="input_box">
                        <label for="playlistname">Playlist Name</label>
                        <input type="text" name="playlistname" id="username" placeholder="Enter a name for the playlist" required>
                    </div>
                    
                    <button type="submit" class="submit_btn">Create</button>
                </form></br>
            </div>
        </section>
        
    </div>
<div class="left_sidebar" id='leftBar'>
</div>

<script src='/base.js'></script>
<script>
addEventListener("DOMContentLoaded", (event) => {
    fetch('/ajax')
        .then(response => response.json())
        .then(data => {

            document.getElementById('topBar').innerHTML = getTopbar(data);
            document.getElementById('leftBar').innerHTML = getSidebar(data);
        });
});
</script>
</body>
</html>