<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Generate Report</title>
    <style> 
        #myChart {
            max-width: 100%; /* Adjust the width to fit within the window */
            max-height: 80vh; /* Adjust the height to fit within the window */
            padding: 10px; /* Adjust padding as needed */
           /* margin: auto; Center the chart horizontally */
            display: block;  /*Ensure it's a block-level element */
        }
        table {border-collapse: collapse; width: 50%; margin-left: auto; margin-right: auto; margin-bottom: auto;}
        th, td {border: 1px solid #ddd;padding: 8px;text-align: left;background-color: #f2f2f2;}
        th {background-color: #f2f2f2;}
        header {color: #f2f2f2;}
        .hidden{
            display:none;
        }
        
      </style>
</head>
<body>
<div class="back_link">
    <a href='/'>
        <h2>Back</h2>
    </a>
</div>
    <div class="report_options">
    <div class="report_form_container">
    <header>Generate Report</header>
            <form method="POST" action="/create_report" class="reportForm">
                <p>Graph Type</p>
                <div id = "type">
                    <label for="Bar">Bar</label>
                    <input type="radio" id = "Bar" name="type" value="bar" onchange="showOptions('Bar')">

                    <label for="Pie">Pie</label>
                    <input type="radio" id = "Pie" name="type" value="pie" onchange="showOptions('Pie')">

                    <label for="Line">Line</label>
                    <input type="radio" id = "Line" name="type" value="line" onchange="showOptions('Line')">
                </div>
                <div id = "dateRange" class="hidden">
                    <label for="startDate">Start Date:</label>
                    <input type="date" id= "startDate" name="startDate">
                    

                    <label for="endDate">To</label>
                    <input type="date" id="endDate" name="endDate">
                </div>
                    
                
                <div id = "category" class = "hidden">
                    <p>Category:</p>
                    <label for="artist">Artist</label>
                    <input type="radio" id = "artist" name="category" value="Artist">

                    <label for="album">Album</label>
                    <input type="radio" id = "album" name="category" value="Album">

                    <label for="genre">Genre</label>
                    <input type = "radio" id="genre" name="category" value="Genre">

                    <label for="song">Song</label>
                    <input type = "radio" id="song" name="category" value="Song">


                </div>
                <div>
                    <button type="button" onclick= "submitForm()" class="submit_btn">Generate Report</button>
                </div>
            </form>

    <script>
        function showOptions(selectedType) {
        const categoryDiv = document.getElementById('category');
        const dateRangeDiv = document.getElementById('dateRange');

        if (selectedType === 'Bar' || selectedType === 'Pie') {
            categoryDiv.classList.remove('hidden');
            dateRangeDiv.classList.remove('hidden');
        } 
        else if(selectedType === 'Line'){
            categoryDiv.classList.add('hidden');
            dateRangeDiv.classList.remove('hidden');
        }
    }
    </script>
            <table>
                <thead id="tableHead">
                </thead>
                <tbody id="dataTable">
                </tbody>
             </table>
             <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
             <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>

             <canvas id="myChart"  height="200" width="300" aria-label="chart" role="img"></canvas>
        </div>
    </div>

        <div class="report_options">
            <div class="report_form_container">
                <header>Account Creations</header>
                <form method="POST" action="/account_creation_report" class="historyForm">
                    <div>
                        <label for="beginDate">From</label>
                        <input type="date" name="beginDate">
        
                        <label for="endDate">To</label>
                        <input type="date" name="endDate">
                    </div>
                    <div>
                        <label for="accountType">Account Type</label>
                        <select id="accountType" name="accountType" placeholder="Account Type">
                            <option value="">Any</option>
                            <option value="listener">Listener</option>
                            <option value="artist">Artist</option>
                        </select>
        
                        <label for="age">Age Group</label>
                        <select id="age" name="age">
                            <option value="">Any</option>
                            <option value="1">13-18</option>
                            <option value="2">18-24</option>
                            <option value="3">25-34</option>
                            <option value="4">35-44</option>
                            <option value="5">45-54</option>
                            <option value="6">55-64</option>
                            <option value="7">65+</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit" class="submit_btn">Submit</button>
                    </div>
                </form>
        
                <!-- Display results in a table -->
                <table id="accountCreationTable" border="1">
                    <thead>
        
                    </thead>
                    <tbody id="accountCreationBody"></tbody>
                </table>
            </br>
                <canvas id="accountCreationChart" width="800" height="400"></canvas></br>
                <canvas id="accountCreationBarChart" width="800" height="400"></canvas>
        </div>
    <script>
        let accountCreationBarChart;
         document.addEventListener('DOMContentLoaded', function () {
            const historyForm = document.querySelector('.historyForm');
    
            historyForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission
    
                // Collect form data
                const formData = new FormData(historyForm);
    
                // Send form data to the server using fetch
                fetch('/account_creation_report', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    // Display the results in the table
                    displayResults(data);

                    createLineChart(data);

                    createBarChart(data);
                })
                .catch(error => console.error('Error:', error));
            });
        });

        function createLineChart(results) {
            const accountCreationDates = results.map(result => result['Account Creation Date']);
            const uniqueDates = [...new Set(accountCreationDates)]; // Get unique dates
            
            const chartData = {
                labels: uniqueDates,
                datasets: [{
                    label: 'Account Creation Trend',
                    borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    data: uniqueDates.map(date => accountCreationDates.filter(d => d === date).length)
                }]
            };

            const chartOptions = {
                scales: {
                    x: {
                        type: 'category',
                        labels: uniqueDates,
                        title: {
                            display: true,
                            text: 'Account Creation Date'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Number of Creations'
                        }
                    }
                },
            };
            
            const ctx = document.getElementById('accountCreationChart').getContext('2d');
            // Check if a chart instance exists and destroy it
            if (window.accountCreationLineChart) {
                window.accountCreationLineChart.destroy();
            }
            // Create and display the new line chart
            window.accountCreationLineChart = new Chart(ctx, {
                type: 'line',
                data: chartData,
                options: chartOptions
            });
            ctx.canvas.style.backgroundColor = 'white';
        }

        function createBarChart(results) {

            console.log('Results for Bar Chart:', results);

            const accountCreationDates = results.map(result => result['Account Creation Date']);
            const uniqueDates = [...new Set(accountCreationDates)]; // Get unique dates
            
            const listenerCounts = [];
            const artistCounts = [];

            console.log('Listener Counts:', listenerCounts);
            console.log('Artist Counts:', artistCounts);
            
            // Count the number of listener and artist accounts for each date
            uniqueDates.forEach(date => {
                const listenerCount = results.filter(result => result['Account Type'] === 'Listener' && result['Account Creation Date'] === date).length;
                const artistCount = results.filter(result => result['Account Type'] === 'Artist' && result['Account Creation Date'] === date).length;
                
                listenerCounts.push(listenerCount);
                artistCounts.push(artistCount);
            });
            
            const chartData = {
                labels: uniqueDates,
                datasets: [
                    {
                        label: 'Listener Accounts',
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        data: listenerCounts
                    },
                    {
                        label: 'Artist Accounts',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        data: artistCounts
                    }
                ]
            };
            const chartOptions = {
                scales: {
                    x: {
                        type: 'category',
                        labels: uniqueDates,
                        title: {
                            display: true,
                            text: 'Account Creation Date'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Number of Accounts'
                        }
                    }
                },
            };

            const ctx = document.getElementById('accountCreationBarChart').getContext('2d');
            
            // Check if a chart instance exists and destroy it (Having issues with this for bar charts for some reason)
            if (accountCreationBarChart) {
                accountCreationBarChart.destroy();
            }
            
            // Create and display the new bar chart
            accountCreationBarChart = new Chart(ctx, {
                type: 'bar',
                data: chartData,
                options: chartOptions
            });
            ctx.canvas.style.backgroundColor = 'white';
        }

    
        function displayResults(results) {
            const resultsTableBody = document.getElementById('accountCreationBody');
    
            // Clear existing table rows and header
            resultsTableBody.innerHTML = '';
    
            // Check if there are results
            if (results.length === 0) {
                console.log('No results found');
                return;
            }
    
            // Create dynamic table header
            const tableHeader = document.createElement('tr');
            const columns = Object.keys(results[0]);
            columns.forEach(column => {
                const th = document.createElement('th');
                th.textContent = column;
                tableHeader.appendChild(th);
            });
            resultsTableBody.appendChild(tableHeader);
    
            // Populate the table with the results
            results.forEach(result => {
                const row = document.createElement('tr');
                columns.forEach(column => {
                    const td = document.createElement('td');
                    td.textContent = result[column];
                    row.appendChild(td);
                });
                resultsTableBody.appendChild(row);
            });
        }

    </script>


    
    <script>
    let chart = null;
    function submitForm() {
        // Collect form data
        const types = document.getElementsByName('type');

        let selectedType = '';
        for (const type of types) {
            if (type.checked) {
                selectedType = type.value;
                break;
            }
        }


        
        const formData = new FormData(document.querySelector('.reportForm'));
        // Send form data to the server using fetch
        fetch('/create_report', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            createChart(data, selectedType);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

function createChart(results, graph){
    if(chart){
        chart.destroy();
    }
    const autocolors = window['chartjs-plugin-autocolors'];
    Chart.register(autocolors);
    const ctx = document.getElementById('myChart').getContext('2d');

    //line chart
    if(graph === 'line'){

        const dataByType = {};
        results.forEach(result => {
        const day = new Date(result.Month);
        const type = result.Type;

        if (!dataByType[type]) {
            dataByType[type] = [];
        }

        dataByType[type].push({ day: day.toDateString(), count: result.Count });
        });

        // Extract unique dates
        const dates = [...new Set(results.map(item => new Date(item.Month).toDateString()))];

        // Prepare datasets for Chart.js
        const datasets = Object.entries(dataByType).map(([type, data]) => ({
        label: type,
        data: dates.map(date => {
            const entry = data.find(item => item.day === date);
            return entry ? entry.count : 0;
        }),
        }));
    chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: dates,
        datasets: datasets,
      },
      
      options: {
        elements:{
            line:{
                tension: .2,
            }
        },
        plugins:{
                title:{
                display: true,
                text: 'Trends',
                },
                autocolors:{
                    enabled: false,
                },
            },
            scales:{
                    x:{
                        title:{
                            display: true,
                            text: 'Time'
                        },
                        ticks:{
                            display: false,
                        }
                    },
                    y:{
                        title:{
                            display: true,
                            text: 'Count'
                        }
                    }
                },
        }
});

    const tableBody = document.getElementById('dataTable');
    const tableHead = document.getElementById('tableHead');
    // Clear existing table content
    tableBody.innerHTML = '';
    tableHead.innerHTML = '';
    const th = document.createElement('th');
    th.textContent = 'Dates';
    tableHead.append(th);
    datasets.forEach(set => {
        const th = document.createElement('th');
        th.textContent = set.label;
        tableHead.appendChild(th);
    });
    for (let i = 0; i < dates.length; i++) {
        const row = document.createElement('tr');
        const labelCell = document.createElement('td');
        labelCell.textContent = dates[i];
        row.appendChild(labelCell);
        for(let j = 0; j < datasets.length; j++){
            const dataCell = document.createElement('td');
            dataCell.textContent = datasets[j].data[i];
            row.appendChild(dataCell);
        }
        tableBody.appendChild(row);
    }

}

    else if(graph === 'pie'){ 
        const titles = Object.keys(results[0]);
        const labels = results.map(result => result[titles[0]]);
        const data = results.map(result => result[titles[1]]);
        
        chart = new Chart(ctx, {
            type:'pie',
            data:{
                labels: labels,
                datasets: [{
                    data: convertToPercentage(data),
                    label: ['%',String(titles[1])].join(''),
                }]

            },
            options: { 
                plugins:{
                    title: {
                            display: true,
                            text: [String(titles[1]), ' by ', String(titles[0])].join(''),
                        },
                    autocolors:{
                        enabled:false,
                    }
                }
            }
        });
    const tableBody = document.getElementById('dataTable');
    const tableHead = document.getElementById('tableHead');
    // Clear existing table content
    tableBody.innerHTML = '';
    tableHead.innerHTML = '';

    // Update table header
    titles.forEach(title => {
        const th = document.createElement('th');
        th.textContent = title;
        tableHead.appendChild(th);
    });

    // Populate table rows
    for (let i = 0; i < labels.length; i++) {
        const row = document.createElement('tr');
        
        const labelCell = document.createElement('td');
        labelCell.textContent = labels[i];
        row.appendChild(labelCell);
        
        const dataCell = document.createElement('td');
        dataCell.textContent = data[i];
        row.appendChild(dataCell);
    
        tableBody.appendChild(row);
    }
}

    //Bar chart
    else{ 
        const titles = Object.keys(results[0]);
        const labels = results.map(result => result[titles[0]]);
        const data = results.map(result => result[titles[1]]);
        chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: titles[1],
                data: data,
            }]
        },
        options: {  
            plugins: {
                title: {
                    display: true,
                    text: [String(titles[1]), ' by ', String(titles[0])].join(' ')
                },
                autocolors: {
                    enabled:true,
                    mode: 'data',
                    offset: Math.floor(Math.random()*20)
                },
                datalabels: {
                    clamp: true
                },
                legend: {
                    display: false
                },
            },
            scales: {
                y: {
                    title:{
                    display:true,
                    text: String(titles[1])
                    }
                },
                x:{
                    title:{
                    display:true,
                    text: String(titles[0])
                    }
                }
            }
            },
        });
    const tableBody = document.getElementById('dataTable');
    const tableHead = document.getElementById('tableHead');
    // Clear existing table content
    tableBody.innerHTML = '';
    tableHead.innerHTML = '';

    // Update table header
    titles.forEach(title => {
        const th = document.createElement('th');
        th.textContent = title;
        tableHead.appendChild(th);
    });

    // Populate table rows
    for (let i = 0; i < labels.length; i++) {
        const row = document.createElement('tr');
        
        const labelCell = document.createElement('td');
        labelCell.textContent = labels[i];
        row.appendChild(labelCell);
        
        const dataCell = document.createElement('td');
        dataCell.textContent = data[i];
        row.appendChild(dataCell);
    
        tableBody.appendChild(row);
    }
    }   
    function convertToPercentage(data) {
        const total = data.reduce((acc, val) => acc + val, 0);
        const percentages = data.map(value => ((value * 100) / total).toFixed(2));
        return percentages;
    }
}
    </script>
    <canvas id="myChart"  height="150" width="150" aria-label="chart" role="img"></canvas>
 
    <table>
       <thead id="tableHead">
       </thead>
       <tbody id="dataTable">
       </tbody>
    </table>
            
</body>