{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="back_link">
    <a href='/getstarted'>
        <h2>Back</h2>
    </a>
</div>

<section class="form_style">
    <div class="container">
        <header>
            <h1>Login for {{ role }}</h1>
        </header>
        
        <form method='POST' action="/login?role={{ role }}" id="loginForm" class="form">
            <div class="input_box">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter your username" required>
            </div>

            <div class="input_box">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
            </div>
            
            <button type="submit" class="submit_btn">Login</button>
        </form></br>
        <a href="/register?role={{ role }}" class="center_text">Don't have an account? Sign Up</a></br>
        <a href="/" class="center_text">Lost Your Password?</a>
    </div>
</section>

<script>
document.getElementById('loginForm').addEventListener('submit', async function (event) {
  event.preventDefault();

  const formData = new FormData(event.target);

  try {
    const response = await fetch('/login', {
      method: 'POST',
      body: formData,
    });

    const data = await response.json();

    if (data.success) {
      // Display a notification if login is successful
      alert('Login successful');

      // Redirect to the index page
      window.location.href = '/';
    } else {
      console.error('Login failed');
      // Display a notification if login failed.
      alert('Username or Password is incorrect');
    }
  } catch (error) {
    console.error('An error occurred:', error);
  }
});

</script>
{% endblock %}