<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../profile_style.css">
    <title>Profile</title>
</head>

<body>
    <!-- Top Navigation Bar -->
    <header>
        <div class="topbar">
            <ul class="topbar_navigation">
                <li>
                    <a href="">
                        <span>Hello Artist!</span>
                    </a>
                </li>
                <li>
                    <a href="/profile">
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>My Music</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Artist Insights</span>
                    </a>
                </li>
                <li>
                    <a href="/album/create">
                        <span>Publish Album</span>
                    </a>
                </li>

            </ul>
            <div class="search">
                <form>
                    <input type="text" class="search_bar" placeholder="Search Music...">
                    <button type="submit" class="search_btn">Search</button>
                </form>
            </div>
            <ul class="topbar_navigation">
                <li>
                    <a href="">
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="main_container">

        <div class="artist_profile">
            <img src="/Cockatiel-2.jpg" alt="profile picture">
            <div class="profile_information">
                <h4>Profile</h4>
                <h1>User Name</h1>
                <h3>12 Followers</h3>
            </div>
            <a href="/edit"><h4>Edit Profile</h4></a>
        </div>

        <div class="song_list">
            <h2>Top song this month</h2>
            <!-- Container to hold the song image, name, and artist name. Replace direct paths with actual database information. 
                Need to make a loop to create for however many we want to display. Instead of making each ourselves.-->
            <div class="list">
                <div class="artist_item">
                    <a><img src="/Cockatiel-2.jpg" alt="song name"></a>
                    <h4>Song Name</h4>
                    <p>Artist</p>
                </div>
            </div>
            <hr>
        </div>

        <div class="song_list">
            <h2>Followers</h2>
            <div class="list">
                <div class="artist_item">
                    <a><img src="/Cockatiel-2.jpg" alt="song name"class="artist_img"></a>
                    <h4>User Name</h4>
                    <p>Profile</p>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <!-- Left Side Bar -->
    <div class="left_sidebar">
        <div class="logo">
            <a href="">
                <img src="/logo.png" alt="Logo">
            </a>
        </div>
        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Search</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>My Music</span>
                    </a>
                    <a href="" class="add_album">+</a>
                    <ul class="list_container">
                        <li>
                            <img src="/Cockatiel-2.jpg" alt="playlist name">
                            <span>An Album</span>
                        </li>
                        <li>
                            <img src="/Cockatiel-2.jpg" alt="playlist name">
                            <span>Another Album</span>
                        </li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Publish Album</span>
                    </a>
                </li> -->
            </ul>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="link_icon"></span>
                        <span>Followers</span>
                    </a>
                    <ul class="list_container">
                        <li>
                            <img src="/placeholder.png" alt="playlist name">
                            <span>A User</span>
                        </li>
                        <li>
                            <img src="/placeholder.png" alt="playlist name">
                            <span>Another User</span>
                        </li>
                        <li>
                            <img src="/placeholder.png" alt="playlist name">
                            <span>A User</span>
                        </li>
                        <li>
                            <img src="/placeholder.png" alt="playlist name">
                            <span>Another User</span>
                        </li>
                        <li>
                            <img src="/placeholder.png" alt="playlist name">
                            <span>A User</span>
                        </li>
                        <li>
                            <img src="/placeholder.png" alt="playlist name">
                            <span>Another User</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- Right Sidebar -->
    <div class="right_sidebar">
        <h1>Top Hits</h1>
        <div class="navigation">
            <ul>
                <li>
                    <p>
                        <span class="link_icon"></span>
                        <span>Weekly:</span>
                    <ul class="list_container">
                        <li>
                            <img src="/Cockatiel-2.jpg" alt="playlist name">
                            <span>A Song</span>
                        </li>
                        <li>
                            <img src="/Cockatiel-2.jpg" alt="playlist name">
                            <span>Another Song</span>
                        </li>
                        </p>
                </li>
            </ul>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <p>
                        <span class="link_icon"></span>
                        <span>Daily:</span>
                    <ul class="list_container">
                        <li>
                            <img src="/Cockatiel-2.jpg" alt="playlist name">
                            <span>A song</span>
                        </li>
                        <li>
                            <img src="/Cockatiel-2.jpg" alt="playlist name">
                            <span>Another Song</span>
                        </li>
                        </p>
                </li>
            </ul>
        </div>
    </div>


    <!-- Music Player -->
    <div class="song_player">
        <!-- Replace image, song name, artist name with actual database information -->
        <img src="/Cockatiel-2.jpg" alt="song name">
        <h5>Song Name</br>
            <div class="artist_name">Artist Name</div>
        </h5>
        <audio controls>
            <!-- Provide the actual source path for the song -->
            <source src="" type="">
        </audio>
    </div>

</body>

</html>