<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" <img src="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Artist</title>
</head>
<body>
    <!-- Top Navigation Bar -->
    <header id='topBar'>
    </header>

    <div class="main_container">

        <div class="listener_profile" id='profile'>
            
        </div>

        <!-- <div class="song_list">
            <h2>Top song this month</h2>
            <div class="list">
                <div class="artist_item">
                    <a><img src="/Cockatiel-2.jpg" alt="song name"></a>
                    <h4>Song Name</h4>
                    <p>Artist</p>
                </div>
            </div>
            <hr>
        </div> -->

        <div class="song_list">
            <h2>Followers</h2>
            <div class="list" id='following'>
                
            </div>
            <hr>
        </div>
    </div>

    <!-- Left Side Bar -->
    <div class="left_sidebar" id='leftBar'>
        
    </div>

    <!-- Right Sidebar -->
    <!-- <div class="right_sidebar">
        <h1>Top Hits</h1>
        <div class="navigation">
            <ul>
                <li>
                    <p>
                        <span class="link_icon"></span>
                        <span>Weekly:</span>
                    <ul class="list_container">
                        <li>
                            <img src="/Cockatiel-2.jpg" alt="playlist name">
                            <span>A Song</span>
                        </li>
                        <li>
                            <img src="/Cockatiel-2.jpg" alt="playlist name">
                            <span>Another Song</span>
                        </li>
                        </p>
                </li>
            </ul>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <p>
                        <span class="link_icon"></span>
                        <span>Daily:</span>
                    <ul class="list_container">
                        <li>
                            <img src="/Cockatiel-2.jpg" alt="playlist name">
                            <span>A song</span>
                        </li>
                        <li>
                            <img src="/Cockatiel-2.jpg" alt="playlist name">
                            <span>Another Song</span>
                        </li>
                        </p>
                </li>
            </ul>
        </div>
    </div> -->
<script src='/base.js'></script>
<script>
addEventListener("DOMContentLoaded", (event) => {
    fetch('/ajax/profile')
        .then(response => response.json())
        .then(data => {

            document.getElementById('topBar').innerHTML = getTopbar(data);
            document.getElementById('leftBar').innerHTML = getSidebar(data);

            html = '';
            for(const user of data['followers']) {
                html += `<div class="artist_item">
                    <a><img src="/logo.png" alt="song name"class="artist_img"></a>
                    <h4>${user.Username}</h4>
                </div>`;
            }
            document.getElementById('following').innerHTML = html;

            html = '';
            html += `<img src="/artist/${data.user['ArtistID']}/pic" alt="profile picture">
            <div class="profile_information">
                <h4>Profile</h4>
                <h1>${data.user['ArtistName']}</h1>
                <h3>${data.user['COUNT(DISTINCT Follow.ArtistID)']} Followers</h3>
            </div>
            <a href="/edit"><h4>Edit Profile</h4></a>`;
            document.getElementById('profile').innerHTML = html;
        })
});
</script>
</body>
</html>