<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" img src="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Search</title>
</head>

<body>
    <header id='topBar'>
    </header>
    
    <div class="main_container">
            <div class="search_form_container">
                <header>
                    <h1>Search</h1>
                </header>

                <form method='POST' action="/search" class="searchForm">
                    <div class="searchForm">
                        <div class="search_form_bar">
                            <input type="text" name="search" id="search" placeholder="Search..." required>
                            
                            <select id="searchBy" name="searchBy">
                                <option value="">Any</option>
                                <option value="song">Song</option>
                                <option value="artist">Artist</option>
                                <option value="album">Album</option>
                            </select>
                            <button type="submit">Search</button>
                        </div>
                </form>
                <br>
            </div>

            <div class="song_list">
                <h2>Search Results</h2>
            </div>

            <div class="song_list">
                <h2>Songs</h2>
                <div class="list" id='searchResultSongs'>
                </div>
            </div>

            <div class="song_list">
                <h2>Artists</h2>
                <div class="list" id='searchResultArtists'>
                </div>
            </div>

            <div class="song_list">
                <h2>Albums</h2>
                <div class="list" id='searchResultAlbums'>
                </div>
            </div>
    
    <div class="left_sidebar" id='leftBar'>
</div>

<div id='playerDiv' style='display:none;' class="song_player">
    <!-- Replace image, song name, artist name with actual database information -->
    <img id='playerImage' src="" alt="song name">
    <h5>
    <div id='playerSong'>Song Name</div>
    <div id='playerArtist' class="artist_name">Artist Name</div>
</h5>
    <audio id='playerAudio' controls>
        <!-- Provide the actual source path for the song -->
        <source id='playerSource' src="" type="">
    </audio>
    </div>
</div>

<script src='/base.js'></script>

<script>
addEventListener("DOMContentLoaded", (event) => {
    const searchForm = document.querySelector('.searchForm');

    searchForm.addEventListener('submit', async function (event) {
        event.preventDefault();

        const formData = new FormData(searchForm);

        try {
            const response = await fetch('/search', {
                method: 'POST',
                body: formData
            });

            if (!response.ok) {
                throw new Error('Search request failed');
            }

            const data = await response.json();

            updateSearchResults(data);
        } catch (error) {
            console.error('Error:', error.message);
        }
    });

    function updateSearchResults(results) {
    let songsHtml = '';
    let artistsHtml = '';
    let albumsHtml = '';

    results.forEach(result => {
        console.log(result);
        if (result['type'] === 'song') {
            songsHtml += `<div class="item">
                <a href="/album/${result['AlbumID']}"><img src="/album/${result['AlbumID']}/pic"></a>
                <h4>${result['SongName']}</h4>
                <p>${result['ArtistName']}</p>
            </div>`;
        } else if (result['type'] === 'artist') {
            artistsHtml += `<div class="artist_item">
                <a href="/artist/${result['ArtistID']}"><img src="/artist/${result['ArtistID']}/pic"></a>
                <h4>${result['ArtistName']}</h4>
                <p>Profile</p>
            </div>`;
        } else if (result.type === 'album') {
            albumsHtml += `<div class="item">
                <a href="/album/${result['AlbumID']}"><img src="/album/${result['AlbumID']}/pic"></a>
                <h4>${result['AlbumName']}</h4>
                <p>${result['ArtistName']}</p>
            </div>`;
        }
    });

    document.getElementById('searchResultSongs').innerHTML = songsHtml;
    document.getElementById('searchResultArtists').innerHTML = artistsHtml;
    document.getElementById('searchResultAlbums').innerHTML = albumsHtml;
}

    fetch('/ajax')
        .then(response => response.json())
        .then(data => {
            document.getElementById('topBar').innerHTML = getTopbar(data);
            document.getElementById('leftBar').innerHTML = getSidebar(data);
        })

});
</script>
</body>
</html>